# Python
__pycache__/
*.pyc

# Generated outputs
combined_output.csv
combined_output.json
PGS_results.csv
2950_filtred.csv
PGS_Results_master.csv
extracted_list.xlsx
extracted_pgs.xlsx
not extracted_pgs.xlsx
scripts/filtred_output.csv
scripts/filtred_output.xlsx

# Large datasets
data/
test_data/

# Virtual environments
venv/
.env